PORT=3000
MONGODB_USER=your_mongodb_user
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_url
MONGODB_DB=your_database_name
JWT_SECRET=your_jwt_secret

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_user
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your_brevo_registered_email

APP_DOMAIN=http://localhost:3000/auth
